.complaint-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.complaint-page .header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  height: 67px;
}

.complaint-page .back-arrow {
  margin-right: 1rem;
}

.complaint-page .title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  padding-right: 1.5rem;
}

.complaint-page .content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.complaint-page .reason-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.complaint-page .reason-button {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  background-color: white;
}

.complaint-page .reason-button.selected {
  background-color: #e5e5e5;
}

.complaint-page .reason-textarea {
  margin-top: 1.5rem;
}

.complaint-page .reason-textarea textarea {
  width: 100%;
  /* padding: 0.75rem; */
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  background-color: #f3f4f66c;
  resize: vertical;
  min-height: 240px;
  font-size: 15px;
  resize: none; /* 크기 조절 불가능하게 */
  outline: none; /* 클릭 시 검정 테두리 금지 */
  padding: 10px;
  font-family: Arial, sans-serif;
}
/* 스크롤 스타일 커스터마이즈 (웹킷 브라우저 전용) */
.complaint-page .reason-textarea textarea::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; /* 스크롤 바 배경색 */
}
.complaint-page .reason-textarea textarea::-webkit-scrollbar-thumb {
  background-color: #d2d1d1; /* 스크롤 바 손잡이 색 */
  border-radius: 4px; /* 동그란 모서리 */
}
.complaint-page .reason-textarea textarea::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8; /* 스크롤 바 호버 시 색상 */
}

.complaint-page .footer {
  padding: 1rem;
  /* border-top: 0.1px solid #f1f1f1; */
  box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.1);

  height: 75.5px;
}

.complaint-page .submit-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-weight: 600;
}

.complaint-page .submit-button.disabled {
  background-color: #dddddd;
  color: #a9a9a9;
  border: 0px;
}
