.MyUpcomingChallengePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MyUpcomingChallengePage .header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  height: 67px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.MyUpcomingChallengePage .back-arrow {
  margin-right: 1rem;
}

.MyUpcomingChallengePage .title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  padding-right: 1.5rem;
}

.MyUpcomingChallengePage .content {
  /* flex: 1; 남은 공간을 차지하도록 설정 */
  overflow-y: auto; /* content 내부에 수직 스크롤 생성 */
  border-left: 1px solid #f7f7f7; /* 연한 회색 경계선 */
  border-right: 1px solid #f7f7f7; /* 연한 회색 경계선 */
}
.MyUpcomingChallengePage .content::-webkit-scrollbar {
  display: none; /* 스크롤바를 보이지 않게 설정 */
}
