.ProofPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ProofPage .content {
  flex: 1;
  overflow-y: auto;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.ProofPage .content::-webkit-scrollbar {
  display: none;
}

/* 토글 바 (탭) 스타일 */
.ProofPage .tab-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff; /* 탭 영역 배경 */
  padding: 10px 0;
}

.ProofPage .tabs {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 100px;
  margin-bottom: 10px;
  padding: 5px;
}

.ProofPage .tab {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #333;
  border: none;
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ProofPage .tab.active {
  background-color: #000;
  color: #fff;
}

.ProofPage .tab:hover:not(.active) {
  background-color: #ddd;
}
